.register_conteiner {
  height: 350px;
}

.register_title {
  letter-spacing: 0.04em;
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 128, 128, 0.7);
}

.register_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.register_text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.register_input {
  border-radius: 5px;
  border: 1px solid teal;
  box-shadow: 2px 2px 0px rgba(0, 128, 128, 0.6);
  outline: inherit;
  padding: 5px 20px;
}

.register_input:focus {
  box-shadow: inset 0px 0px 10px rgba(0, 128, 128, 0.6);
}

.register_btn {
  margin-top: 30px;
  cursor: pointer;
  border: 1px solid teal;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  background-color: #fff;
  color: teal;
  font-weight: 500;
  font-size: 16px;
  transition: all 250ms ease;
}

.register_btn:is(:hover, :focus) {
  background-color: teal;
  color: #fff;
}
