.app_conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.app_subtitle {
  color: rgba(143, 0, 172, 0.8);
  font-size: 24px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2em;
  margin: 10px 0;
  padding: 10px 20px;
}

.app_text {
  margin-top: 20px;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.08em;
}
