.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  margin-bottom: 5px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #fff;
}

.item p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.item_name {
  color: #000000b2;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
}

.item_number {
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.item_btn {
  cursor: pointer;
  height: 20px;
  min-width: 65px;
  padding: 0;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #fff;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 128, 128, 0.7);
  box-shadow: 2px 2px 0px rgba(0, 128, 128, 0.6);
}

.item_btn:is(:hover, :focus) {
  color: rgba(51, 144, 252, 0.9);
  box-shadow: 2px 2px 0px rgba(51, 145, 252, 0.9);
  outline: transparent;
  transition: all 250ms ease;
}
