.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter_text {
  letter-spacing: 0.04em;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 128, 128, 0.7);
}

.filter_input {
  border-radius: 5px;
  border: 1px solid teal;
  box-shadow: 2px 2px 0px rgba(0, 128, 128, 0.6);
  outline: inherit;
  margin-bottom: 20px;
}

.filter_input:focus {
  box-shadow: inset 0px 0px 10px rgba(0, 128, 128, 0.6);
}
