main {
  margin-top: 40px;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 650px;
  padding: 20px 30px 40px;
  margin: 60px auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2),
    20px 20px 10px rgba(0, 128, 128, 0.2), 30px 30px 10px rgba(0, 128, 128, 0.2);
  background-color: rgba(220, 220, 220);
  font-family: 'Courier New', Courier, monospace;
}

.navigation {
  padding: 0 30px;
  width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}
