.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 650px;
  padding: 20px 30px 40px;
  margin: 60px auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}

.navigation {
  padding: 0 30px;
  width: 570px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}
